@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@350");

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  /* font-weight: 300; */
  font-style: normal;
  font-size: 1.25rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
