@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-*: initial;

  --radius-default: 0.25rem;

  /* Neutrals */
  --color-white: #fff;

  /* Border */
  --color-b-light: #b8b8b8;
  --color-b-dark: #ffffff25;

  /* Red */
  --color-red-darker: #9e2217;
  --color-red-dark: #a82419;
  --color-red-default: #b0261a;
  --color-red-lightest: #ffe9e7;

  /* Blue */
  --color-blue-default: #067ea9;

  /* Red */
  --color-yellow-darker: #9b7400;
  --color-yellow-light: #ffe5c0;

  /* Green */
  --color-green-default: #158f52;
  --color-green-light: #d9ffe2;

  /* Black */
  --color-black-default: #040309;
  --color-black-light: #1d1c21;

  /* Beige */
  --color-beige-light: #e5e5e2;

  /* Fonts */
  --font-body: "fontAspektaVariable", sans-serif;
  --font-heading: "fontAspektaVariable", sans-serif;

  --color-title-light: #040309;
  --color-body-light: #3d4040;
  --color-body-lighter: #4d4d4d;

  --color-title-dark: #fff;
  --color-body-dark: #e5e5e5;
  --color-body-darker: #cccccc;

  --color-sidebar: var(--color-black-default);

  /* Max Width */
  --max-width-container-small: 58.25rem;
}

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  @apply text-body-light bg-beige-light text-sm leading-[1.5] font-medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  @apply text-title-light leading-[1.25] font-semibold;
}

h1,
.heading-h1 {
  font-size: 2rem;
}

h2,
.heading-h2 {
  font-size: 1.75rem;
}

h3,
.heading-h3 {
  font-size: 1.5rem;
}

h4,
.heading-h4 {
  font-size: 1.375rem;
}

h5,
.heading-h5 {
  font-size: 1.25rem;
}

h6,
.heading-h6 {
  font-size: 1.125rem;
}

@media (max-width: 1023px) {
  h1,
  .heading-h1 {
    font-size: 1.75rem;
  }

  h2,
  .heading-h2 {
    font-size: 1.625rem;
  }

  h3,
  .heading-h3 {
    font-size: 1.5rem;
  }

  h4,
  .heading-h4 {
    font-size: 1.375rem;
  }

  h5,
  .heading-h5 {
    font-size: 1.25rem;
  }

  h6,
  .heading-h6 {
    font-size: 1.125rem;
  }
}

div[role="status"][aria-live="polite"] {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none;
}

* {
  @apply transition-none;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}

@media screen and (max-width: 1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc(0.39866369710467703rem + 0.6681514476614699vw);
  }
}
@media screen and (max-width: 991px) {
  html {
    font-size: calc(0.7497474747474747rem + 0.40404040404040403vw);
  }
}
@media screen and (max-width: 496px) {
  html {
    font-size: calc(0.7489878542510121rem + 0.8097165991902835vw);
  }
}
@media screen and (max-width: 249px) {
  html {
    font-size: calc(0.8744959677419355rem + 0.8064516129032256vw);
  }
} */
